[Desktop Entry]
Type=Application
Icon=harbour-muuzik
Exec=harbour-muuzik
Name=Muuzik!

[X-Sailjail]
Sandboxing=Disabled
OrganizationName=com.kan-ibal
ApplicationName=Muuzik!
